<section class="bg-light">
    <div class="container-fluid">
        <div class="row row-cols-1 justify-content-center py-5">
            <div class="col-xxl-7 mb-4">
                <div class="lc-block">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_u1xuufn3.json" class="mx-auto" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col text-center">
                <div class="lc-block">
                    <!-- Blue button to navigate to the home page -->
                    <a href="/" class="btn btn-primary btn-lg">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
